<head>
  <meta charset="utf-8"/>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10"></script>
</head>
<body>
  <div id="app">
    <h2>どこまでワンパンできるかな</h2>
    <p>
      技タイプ：
      <select v-model="type">
        <option v-for="type in types" :value="type">{{ type }}</option>
      </select>
      <select v-model="category">
        <option v-for="category in categories" :value="category">{{ category }}</option>
      </select>
    </p>
    <p>
      火力指数：
      <input type="number" v-model="moveStrength">
    </p>
    <p>
      フィルタ：
      <select v-model="filter">
        <option v-for="filter in filters" :value="filter.value">{{ filter.label }}</option>
      </select>
    </p>
    <ul>
      <li>最適 ... 物理・特殊バランス良く振った個体 (HBD/(B+D) が最大)</li>
      <li>特化 ... 物理・特殊どちらかに全振りしている個体 (HB または HD が最大)</li>
      <li>火力 ... 威力 x 各種バフ x 攻撃力</li>
    </ul>
    <table border=1>
      <tr>
        <td>相手ポケモン</td>
        <td v-if="moveStrength">ダメージ</td>
        <td v-if="!moveStrength">乱１ライン</td>
        <td v-if="!moveStrength">確１ライン</td>
        <td>タイプ相性</td>
      </tr>
      <tr v-for="poke in robustness">
        <td>{{ poke.label }}</td>
        <td v-if="moveStrength">{{ poke.comment }}</td>
        <td v-if="!moveStrength">{{ poke.valueMin }}</td>
        <td v-if="!moveStrength">{{ poke.valueMax }}</td>
        <td>x{{ poke.effectiveness }}</td>
      </tr>
    </table>
  </div>
  <script src="./data.js"></script>
  <script src="./robustness.js"></script>
  <script>
const filters = [{
  label: "すべて",
  value: (po) => po.effectiveness !== 0,
}, {
  label: "等倍以上",
  value: (po) => po.effectiveness >= 1,
}, {
  label: "半減以下",
  value: (po) => po.effectiveness <= 0.5 && po.effectiveness !== 0,
}, {
  label: "抜群以上",
  value: (po) => po.effectiveness >= 2,
}, {
  label: "等倍",
  value: (po) => po.effectiveness === 1,
}];

const vm = new Vue({
  el: "#app",
  data: () => ({
    types,
    type: "ノーマル",
    category: "物理",
    filter: filters[0].value,
    moveStrength: "",
  }),
  computed: {
    robustness() {
      return robustness.map((poke) => {
        const eff = poke.types.reduce((l, r) => l * effectiveness[this.type][r], 1);
        const value = Math.floor(this.category === "物理" ? poke.hb : poke.hd);
        const robustnessMin = Math.floor(value / eff / 0.44);
        const robustnessMax = Math.floor(value / eff / 0.374);
        const damageMin = this.moveStrength * eff * 0.375;
        const damageMax = this.moveStrength * eff * 0.44;
        const timesMax = Math.ceil(value / damageMin);
        const timesMin = Math.ceil(value / damageMax);
        const comment = timesMin === timesMax ? (
          "確定" + timesMin + "発"
        ) : (
          "乱数" + timesMin + "発 (" +
          Math.round(
            (1 - (value - damageMin * timesMin) / (damageMax - damageMin) / timesMin) * 100
          ) +
          "%)"
        );
        return {
          label: poke.label,
          valueMin: robustnessMin,
          valueMax: robustnessMax,
          comment,
          effectiveness: eff,
        };
      }).filter(this.filter).sort((l, r) => r.valueMax - l.valueMax);
    }
  },
});
  </script>
</body>
